body {
    background-image: url(/background2.png);
    margin-left:50px;
    margin-right:50px;
    margin-top:20px;
    margin-bottom:20px;
}

.TextBox {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 5px;
    width: 60px;
}

.Active {
    border-width: medium;
    border-style: solid;
    border-color: #73AD21;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.Inactive {
    border-width: medium;
    border-style: dashed;
    border-color: #73AD21;
    text-align: center;
    padding: 5px 0px 5px 0px;
    transition: all 0.4s;
}

.Active:hover {
    background: #73AD21;
    transition: all 0.4s;
}

.Image {
    border-radius: 10px;
}

.Button {
    border-radius: 5px;
    background: url(/background2.png);
    font-size: 20px;
    color: black;
    border: 2px solid #018906;
    height: 40px;
    width: 150px;
    position:relative;
    left:45%;
    
}

.Button:hover {
    background: #73AD21;
    transition: all 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.Panel {
    border-radius: 5px;
    background: url(/background2.png);
    font-size: 20px;
    color: black;
    border: 2px solid #018906;
}
.titlePanel{
    text-align:center;
    position:center;
   }

.mulitView{
    position:relative;
    left:40%;
}

